{{!-- The main layout --}}

<div id="app">
  <header>
    {{#top-bar}}
      {{outlet 'toolbar'}}
    {{/top-bar}}
  </header>

  <nav class="primary-sidebar">
    <div class="sidebar-content">
      {{main-menu goToItem="goToItem"}}
    </div>
  </nav>

  {{!-- The app main part (without top and left navigations) --}}
  <section id="main-content">
    {{outlet}}
  </section>

  {{#ember-notify closeAfter=5000 classPrefix="onedata-notify" as |message close|}}
    <a {{action close}} class='close-button'>{{icon 'checkbox-x'}}</a>
    <span class='message'>{{message.text}}</span>
  {{/ember-notify}}
</div>
