Data files list for

<ul>
  {{#each filesInfo as |fileInfo|}}
    <li {{action "openFile" fileInfo.file}}>
      <strong>{{fileInfo.label}}</strong> ({{fileInfo.path}})
    </li>
  {{/each}}
</ul>

<div class="create-file">
  {{input value=createFileName}}
  <a {{action 'createFile' 'file'}} style="margin-right: 15px;">CREATE-FILE</a>
  <a {{action 'createFile' 'dir'}}>CREATE-DIRECTORY</a>
</div>
