<ul>
  {{#each rootDir.children as |file|}}
    {{#if file.isDir}}
      <li class="{{levelClass}}">
        <div id="tree-dir-{{file.id}}" class="secondary-sidebar-item dir-item single-selectable onedata-red">
          {{#if file.hasSubDirs}}
            <span class="item-element item-icon" {{action 'toggleDir' file}}>
              {{!-- TODO: real-design icons, styles and colors --}}
              {{#if file.isExpanded}}
                {{icon "links" "color-directory"}}
              {{else}}
                {{icon "recent" "color-file"}}
              {{/if}}
            </span>
          {{else}}
            <span class="item-element item-icon">
              {{icon "trash" "color-directory"}}
            </span>
          {{/if}}
          <span class="item-element item-click-area"  {{action 'browseDir' file}}>
            <span class="item-icon">
              {{icon "folder" "color-folder"}}
            </span>
            <span class="item-label">
              {{file.name}}
            </span>
          </span>
        </div>
        {{#if file.isExpanded}}
          {{data-files-tree-node rootDir=file openDirInBrowser='openDirInBrowser'
            level=nextLevel}}
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
</ul>
