<ul>
  {{#each dir.children as |file|}}
  {{!-- TODO: open file when selected and enter pressed --}}
    <li {{action "openFile" file on="doubleClick"}}
      {{action "selectFile" file on="click"}}>
      <span>
        {{#if file.isDir}}
          {{icon "folder"}}
        {{else}}
          {{icon "file"}}
        {{/if}}
      </span>
      <strong class="file-entry {{if file.isSelected 'selected-file'}}" id="file-{{file.id}}">
        {{file.name}}
      </strong>
      <i>Path: {{file.path}}</i>
    </li>
  {{/each}}
</ul>

<hr/>

<div class="create-file">
  {{input value=createFileName}}
  <a class="btn btn-primary" {{action 'createFile' 'file'}} style="margin-right: 15px;">CREATE-FILE</a>
  <a class="btn btn-primary" {{action 'createFile' 'dir'}}>CREATE-DIRECTORY</a>
</div>

<hr/>

{{#if singleSelectedFile}}
  <div class="rename-file">
    {{input value=renameFileName}}
    <a class="btn btn-primary" {{action 'renameSelectedFile'}}>RENAME-SELECTED-FILE</a>
  </div>
{{/if}}

<hr/>

<div class="remove-files">
  <a class="btn btn-danger" {{action 'removeSelectedFiles'}}>REMOVE-SELECTED-FILES</a>
</div>

<hr/>

<div class="file-upload">
  {{file-upload currentDir=dir}}
</div>
