<table class="table table-strips files-table">
  <div class="drop-area">
    {{icon 'upload'}}
  </div>
  <thead>
    <th>
      {{t 'components.dataFilesList.files'}}
    </th>
    <th>
      {{t 'components.dataFilesList.size'}}
    </th>
    <th>
      {{t 'components.dataFilesList.permissions'}}
    </th>
    <th>
      {{t 'components.dataFilesList.modification'}}
    </th>
  </thead>
  <tbody>
    {{#each dir.children as |file|}}
    {{!-- TODO: open file when selected and enter pressed --}}
      <tr {{action "openFile" file on="doubleClick"}}
        {{action "selectFile" file on="click"}} class="{{if file.isSelected 'active'}}">
        <td id="file-{{file.id}}">
          <div class="file-icon">
            {{#if file.isDir}}
              {{icon "folder" "color-folder"}}
            {{else}}
              {{icon "file" "color-file"}}
            {{/if}}
          </div>
          <div class="file-label">
            {{file.name}}
          </div>
        </td>
        <td>
          {{file.sizeHumanReadable}}
        </td>
        <td>
          {{file.permissions}}
        </td>
        <td>
          {{file.modificationDate}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
