{{!-- TODO: toolbar icon component --}}
<li>
  {{!-- TODO: to remove, only for testing --}}
  <div class="top-bar-item" style="padding-top: 20px;">
    Some input:
    {{input value=someInput}}
  </div>
</li>
{{#each items as |item|}}
  <li>
    <a class="top-bar-item toolbar-icon {{if item.disabled 'disabled'}}"
      {{action item.action}}>
      {{icon item.icon 'top-bar-icon'}}
    </a>
  </li>
{{/each}}


{{!-- Modals for actions --}}
{{!-- TODO: modals should be in separate component or something --}}
{{!-- TODO: there should be a service for opening modals from files-list --}}

{{!-- TODO: form validation (not blank name etc.) --}}
{{!-- TODO: autofocus does not work, because something is stealing focus... --}}
{{#bs-modal openedAction='renameModalOpened' open=isRenamingFile body=false footer=false
    title=(t "components.dataFilesListToolbar.renameFileModal.title")
    id="rename-file"}}
  {{#bs-modal-body}}
    {{#bs-form action=(action "submitRenameSelectedFile") model=this}}
      {{bs-form-element controlType="text" property="renameFileName"
        label=(t 'components.dataFilesListToolbar.renameFileModal.enterName'
          currentName=dir.singleSelectedFile.name)}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button buttonType="submit" type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}

{{/bs-modal}}
