{{!-- TODO: icons hide when too small size of screen --}}
{{!-- TODO: toolbar icon component --}}
{{#each items as |item|}}
  <li>
    {{!-- TODO refactor --}}
    <a id="{{item.id}}" class="top-bar-item toolbar-icon {{if item.disabled 'disabled'}}"
       disabled={{item.disabled}} data-toggle="tooltip" data-placement="bottom"
       title={{item.tooltip}}
      {{action (if item.action item.action (action (mut undefProp)))}}>
      {{icon item.icon 'top-bar-icon'}}
    </a>
  </li>
{{/each}}

{{!-- File upload browse element - hidden, used by upload button --}}
{{!-- TODO: respect maxFiles like in Resumable.js bind --}}
<input id="toolbar-file-browse" type="file" multiple="multiple" class="hidden" />

{{!-- Modals for actions --}}
{{!-- TODO: modals should be in separate component or something --}}
{{!-- TODO: there should be a service for opening modals from files-list --}}

{{!-- TODO: form validation (not blank name etc.) --}}
{{!-- TODO: autofocus does not work, because something is stealing focus... --}}

{{!-- RENAME FILE --}}

{{#bs-modal openedAction='renameModalOpened' open=isRenamingFile body=false footer=false
    title=(t "components.dataFilesListToolbar.renameFileModal.title")
    id="rename-file"}}
  {{#bs-modal-body}}
    {{#bs-form action=(action "submitRenameSelectedFile") model=this}}
      {{bs-form-element controlType="text" property="renameFileName" autofocus=true
        label=(t 'components.dataFilesListToolbar.renameFileModal.enterName'
          currentName=dir.singleSelectedFile.name)}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button buttonType="submit" type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- CREATE DIRECTORY --}}

{{#bs-modal open=isCreatingDir body=false footer=false
    title=(t "components.dataFilesListToolbar.createDirModal.title")
    id="create-dir"}}
  {{#bs-modal-body}}
    {{#bs-form action=(action "submitCreateFile" "dir") model=this}}
      {{bs-form-element controlType="text" property="createFileName" autofocus=true
        label=(t 'components.dataFilesListToolbar.createDirModal.enterName')}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button buttonType="submit" type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- CREATE FILE --}}

{{#bs-modal open=isCreatingFile body=false footer=false
    title=(t "components.dataFilesListToolbar.createFileModal.title")
    id="create-file"}}
  {{#bs-modal-body}}
    {{#bs-form action=(action "submitCreateFile" "file") model=this}}
      {{bs-form-element controlType="text" property="createFileName" autofocus=true
        label=(t 'components.dataFilesListToolbar.createFileModal.enterName')}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button buttonType="submit" type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- REMOVE FILE --}}

{{#bs-modal open=isRemovingFiles body=false footer=false
    title=(t "components.dataFilesListToolbar.removeFilesModal.title")
    id="remove-files" submitAction="submitRemoveFiles"}}
  {{#bs-modal-body}}
    {{t "components.dataFilesListToolbar.removeFilesModal.text"}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button buttonType="submit" type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- EDIT PERMISSIONS --}}

{{#bs-modal open=isEditingPermissions body=false footer=false
    title=(t "components.dataFilesListToolbar.editPermissionsModal.title")
    id="edit-permissions"}}
  {{#bs-modal-body}}
    {{#bs-form action=(action "submitEditPermissions" "dir") model=this}}
      {{bs-form-element controlType="text" property="newPermissions" autofocus=true
        label=(t 'components.dataFilesListToolbar.editPermissionsModal.text')}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button buttonType="submit" type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- FILE CHUNKS --}}

{{#bs-modal open=isFileChunksModal body=false footer=false
    title="Feature not implemented"
    id="file-chunks"}}
  {{#bs-modal-body}}

    {{!-- TODO: loader throbber when fileChunks is null --}}
    Showing chunks for file: {{fileForChunks.name}}

    {{!-- TODO: there is assumption that every fb has other provider --}}
    <table>
    {{#each fileBlocks as |fb|}}
      <tr>
        <td>
          {{fb.provider.name}}
        </td>
        <td>
          {{file-chunks-bar file=fileForChunks fileBlocks=fb}}
        </td>
      </tr>
    {{/each}}
    </table>

  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "close" target=footer) type="primary"}}
      {{t "common.modal.close"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- NOT IMPLEMENTED --}}

{{#bs-modal open=isNotImplementedModal body=false footer=false
    title="Feature not implemented"
    id="not-implemented"}}
  {{#bs-modal-body}}
    Feature not implemented
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "close" target=footer) type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
