Data files list for

<ul>
  {{#each filesInfo as |fileInfo|}}
    <li {{action "openFile" fileInfo.file}}>
      {{fileInfo.label}}
    </li>
  {{/each}}
</ul>

<div class="create-file">
  {{input value=createFileName}}
  <a {{action 'createFile' 'file'}}>CREATE FILE</a>
  <a {{action 'createFile' 'dir'}}>CREATE DIRECTORY</a>
</div>
