<!--
    This is a prototype template for file-tree-node component - a component
    that renders a single file or directory in tree view, and recursively
    renders the same component with its children (if it is a dir).
-->

<div style="border-bottom: 2px solid lightgrey; padding: 6px 0; position: relative;">
    <div style="position: absolute; top: 12px; left: 3px;">
      {{input type='checkbox' checked=file.selected class='toggle' bubbles=false}}
    </div>
    <div class="pointer" {{action 'clickAction' file}}
         style=" margin-left: 24px; position: relative; width: 300px;">

      {{#if file.expanded}}
        {{#if file.isDir}}
            <img style="width: 24px; position: absolute; top: 5px; right: 0;"
                 src="/assets/images/expanded.png"/>
        {{else}}
            <img style="width: 24px; position: absolute; top: 5px; right: 0;"
                 src="/assets/images/previewed.png"/>
        {{/if}}
      {{/if}}

      {{#if file.isDir}}
          <img style="width: 32px; position: absolute; top: 0; left: 0;"
               src="/assets/images/dir.png"/>
      {{else}}
          <img style="width: 32px; position: absolute; top: 0; left: 0;"
               src="/assets/images/file.png"/>
      {{/if}}

        <p style="padding: 0; line-height: 32px; margin: 0 24px 0 46px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{file.name}}
        </p>
    </div>
</div>
{{#if file.expanded}}
  {{#if sortedChildren.length}}
    {{#each sortedChildren as |child|}}
        <div style="padding-left: 40px;">
          {{file-tree-node file=child clickAction='fileClicked'}}
        </div>
    {{/each}}
  {{/if}}
{{/if}}
