<!--
    Prototype template for file list view
-->

<form style="margin: 10px 0 20px; font-size: 30px;">
    <label for="select-space" style="margin-right: 10px;">
        Current space:
    </label>
  {{!view 'select'
  id='select-space'
  content=spacesDir.children
  optionValuePath='content.id'
  optionLabelPath='content.name'
  value=currentSpaceId}}
    <div style="display: inline-block" class="btn-group" role="group"
         aria-label="...">
      {{#each spaceDirOptions as |spaceDirOption|}}
          <button type="button"
                  class="btn {{if spaceDirOption.selected 'btn-success' 'btn-default'}}"
            {{action 'changeCurrentDir' spaceDirOption.space.id}}>
            {{spaceDirOption.space.name}}
          </button>
      {{/each}}
    </div>
</form>

{{#if currentSpaceId}}
    <div style="display: inline-block" class="btn-group" role="group"
         aria-label="...">
        <button type="button" class="btn btn-default"
          {{action 'editNewDir'}}>
            Create Directory
        </button>
        <button type="button" class="btn btn-default"
          {{action 'editNewFile'}}>
            Create File
        </button>
        <!--<button type="button" class="btn btn-default"-->
      {{!action 'showModal' 'rename_file_modal' controller model}}
      {{!bind-attr disabled="inNotOneSelected"}}
        <!-- todo close button tag here
    <!--Rename-->
        <!--</button>-->
        <button type="button" class="btn btn-default"
                disabled={{isNoneSelected}}
          {{action 'remove'}}>
            Remove
        </button>
      {{#if areAllSelected}}
          <button type="button" class="btn btn-default" id="deselectAll"
            {{action 'deselectAll'}}>
              DeselectAll
          </button>
      {{else}}
          <button type="button" class="btn btn-default" id="selectAll"
            {{action 'selectAll'}}>
              SelectAll
          </button>
      {{/if}}
    </div>
    <div style="display: inline-block;">
      {{#if creatingFile}}
        {{input id='new-file-edit' value=createdFileName placeholder=createdFileHint}}
          <button type="button" class="btn btn-default" id="selectAll"
            {{action 'createNewFile'}}>
              OK
          </button>
          <p style="display: inline-block; margin-left: 15px;">Create in
              directory: <b>{{newFileParentName}}</b></p>
      {{/if}}
    </div>
    {{outlet 'modal'}}

    <div style="width: 100%;">
        <div style="padding: 6px 10px; float: left;
    border: 1px solid black; margin: 30px 20px; display: inline-block;
    min-height: 300px; max-height: 500px; overflow-y: auto;
    min-width: 400px; max-width: 400px; overflow-x: auto;">
          {{#if sortedChildren.length}}
            {{#each sortedChildren as |child|}}
              {{file-tree-node file=child clickAction='fileClicked'}}
            {{/each}}
          {{else}}
              <p style="font-size: 20px; font-style: italic;">empty space</p>
          {{/if}}
        </div>
        <div style="padding: 6px 10px; float: left;
    border: 1px solid black; margin: 30px 20px; display: inline-block;
    height: 500px; width: 600px; ">
            <p style="font-size: 24px;">Preview:
              {{#if previewedFile}}
                  <i>{{previewedFile.name}}</i>
              {{else}}
                  <i>no file is selected</i>
              {{/if}}
            </p>
          {{#if previewedFile}}
            {{#if previewedFileContent}}
              {{#if editAreaDisabled}}
                  <div style="width: 100%;">
                    {{textarea class='edit-preview disabled' value=previewedFileContent.bytes
                    placeholder='empty file content' disabled=true}}
                  </div>
                  <div style="width: 100%; margin-top: 4px;">
                      <button type="button" class="btn btn-default btn-info"
                        {{action 'editPreview'}}>
                          Edit file
                      </button>
                  </div>
              {{else}}
                  <div style="width: 100%;">
                    {{textarea class='edit-preview' value=previewedFileContent.bytes
                    placeholder='empty file content' autofocus=true}}
                  </div>
                  <div style="width: 100%; margin-top: 4px;">
                      <button type="button"
                              class="btn btn-default btn-success"
                        {{action 'savePreview'}}>
                          Save file
                      </button>
                      <button type="button" class="btn btn-default btn-danger"
                        {{action 'discardPreview'}}>
                          Discard changes
                      </button>
                  </div>
              {{/if}}
            {{else}}
                <p style="color: red;">This file is too large to preview.</p>
            {{/if}}
          {{/if}}
        </div>

    </div>
{{/if}}

