{{!-- Users permissions table for single Space --}}
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="row">
      <div class="col-md-8">
        {{!-- TODO: use other bootstrap align style --}}
      </div>
      <div class="col-md-4">
        <div class="{{if isModified '' 'hidden'}}">
          <div class="row">
            <div class="col-md-6">
              <button {{action 'discardChanges' userPermissions}} type="button"
              name="discard-changes" class="btn btn-danger">discard</button>
            </div>
            <div class="col-md-6">
              <button {{action 'saveChanges' userPermissions}} type="button"
              name="save-changes" class="btn btn-success">save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="one-table normal">
  <div class="one-thead">
    <div class="one-th one-first">
      <div class="cell-body">
        <div class="item-element item-label">{{title}}</div>
        <div class="item-element item-icon item-tool" {{action 'invite'}}>
          <figure class="icon">
            {{icon inviteButton}}
            <figcaption>{{t 'components.permissionsTable.inviteButton' type=typeSingular}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="one-th">{{t 'components.permissionsTable.viewSpace'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.modifySpace'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.setPrivileges'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.removeSpace'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.inviteUser'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.removeUser'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.inviteGroup'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.removeGroup'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.inviteProvider'}}</div>
    <div class="one-th">{{t 'components.permissionsTable.removeProvider'}}</div>
  </div>
  <div class="one-tbody">
    {{#each permissionsSorted as |perm|}}
      <div class="one-tr" id="perm-row-{{perm.owner.id}}">
        <div class="one-td one-first">{{trim-string perm.owner.name 14}}</div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.viewSpace'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'ViewSpace'}}>
              {{bool-option perm.permViewSpace perm.modViewSpace}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.modifySpace'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'ModifySpace'}}>
              {{bool-option perm.permModifySpace perm.modModifySpace}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.setPrivileges'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'SetPrivileges'}}>
              {{bool-option perm.permSetPrivileges perm.modSetPrivileges}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.removeSpace'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'RemoveSpace'}}>
              {{bool-option perm.permRemoveSpace perm.modRemoveSpace}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.inviteUser'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'InviteUser'}}>
              {{bool-option perm.permInviteUser perm.modInviteUser}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.removeUser'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'RemoveUser'}}>
              {{bool-option perm.permRemoveUser perm.modRemoveUser}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.inviteGroup'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'InviteGroup'}}>
              {{bool-option perm.permInviteGroup perm.modInviteGroup}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.removeGroup'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'RemoveGroup'}}>
              {{bool-option perm.permRemoveGroup perm.modRemoveGroup}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.inviteProvider'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'InviteProvider'}}>
              {{bool-option perm.permInviteProvider perm.modInviteProvider}}
            </span>
          </div>
        </div>

        <div class="one-td">
          <div class="one-table-label">{{t 'components.permissionsTable.removeProvider'}}</div>
          <div class="one-table-checkbox">
            <span {{action 'togglePermission' perm 'RemoveProvider'}}>
              {{bool-option perm.permRemoveProvider perm.modRemoveProvider}}
            </span>
          </div>
        </div>

      </div>
    {{/each}}

  </div>
</div>
