<div class="secondary-sidebar-header">
  spaces
</div>
<ul>
  {{#each spaces as |space|}}
    {{!-- TODO: computing entryId in model is not very elegant --}}
    {{!-- move sidebar entry creation to helper --}}
    <li id="{{space.sidebarEntryId}}" class="first-level">
      <div {{action 'showSpaceOptions' space}} class="secondary-sidebar-item first-level">
        <span class="item-icon">
          {{#if space.isDefault}}
            {{icon 'spacedefault' 'default-space-color'}}
          {{else}}
            {{icon 'space' 'space-color'}}
          {{/if}}
        </span>

        <span class="item-label">
          {{space.name}}
        </span>
      </div>

      {{spaces-submenu spacesMenu=this space=space
        showUsersConfig='showUsersConfig' showGroupsConfig='showGroupsConfig'}}
    </li>
  {{/each}}

</ul>
