<div class="secondary-sidebar-header">
  {{t 'components.spacesMenu.title'}}
</div>
<ul>
  {{#each spaces as |space|}}
    {{!-- TODO: computing entryId in model is not very elegant --}}
    {{!-- move sidebar entry creation to helper --}}
    <li id="{{space.sidebarEntryId}}" class="first-level">
      <div {{action 'showSpaceOptions' space}} class="secondary-sidebar-item first-level">
        <span class="item-element item-click-area">
          <span class="item-icon">
            {{icon (if space.isDefault 'space-home' 'space')
              (if space.isDefault 'default-space-color' 'space-color')}}
          </span>

          <span class="item-label">
            {{space.name}}
          </span>
        </span>
      </div>

      {{spaces-submenu spacesMenu=this space=space
        showUsersConfig='showUsersConfig' showGroupsConfig='showGroupsConfig'}}
    </li>
  {{/each}}

</ul>
