{{#bs-modal openedAction='getToken' open=isOpened body=false footer=false
    title=modalTitle
    id=modalId}}
  {{#bs-modal-body}}
    {{#if inviteToken}}
      {{#bs-form model=this}}
        <div class="modal-row">
          {{modalLabel}}
        </div>
        <div class="input-with-button modal-row">
          {{bs-form-element controlType="text" property="inviteToken" autofocus=true id=formElementId}}
          {{#copy-button success='copySuccess' error='copyError'
            clipboardTarget=clipboardTarget class="btn btn-primary btn-right"}}
           {{icon 'copy'}}
         {{/copy-button}}
        </div>
      {{/bs-form}}
    {{else}}
        <div class="modal-loading">
          {{#if errorMessage}}
            <div class="loading-throbber"></div>
            <div class="loading-label">
              {{t "common.modal.fetchingToken"}}
            </div>
          {{else}}
            <div class="loading-label">
              {{t "common.modal.fetchingTokenError"}}
            </div>
          {{/if}}
        </div>
    {{/if}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "close" target=footer) type="primary"}}
      {{t "common.modal.ok"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
