<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        {{!-- TODO: this is top menu collapsed button, change like design --}}
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{!-- TODO: use SVG --}}
      <a class="navbar-brand top-bar-item" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      {{!-- Align toolbar right --}}
      <ul class="nav navbar-nav navbar-right toolbar-group">
        <li class="dropdown profile-dropdown">
          <a href="#" class="dropdown-toggle top-bar-item toolbar-icon" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              {{icon 'user-profile' 'top-bar-icon'}} {{session.sessionDetails.userName}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-down dropdown-menu-list">
            <li><a href="{{session.sessionDetails.manageProvidersURL}}">{{t 'components.topBar.manageProviders'}}</a></li>
            <li><a href="/logout.html">{{t 'components.topBar.logout'}}</a></li>
          </ul>
        </li>
      </ul>
      {{yield}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
