<h3>File manager</h3>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" id="create-new"
        {{action 'showModal' 'create_file_modal' controller model}}>
        Create
    </button>
    <button type="button" class="btn btn-default" id="rename-file"
        {{action 'showModal' 'rename_file_modal' controller model}}
        {{bind-attr disabled="inNotOneSelected"}}>
        Rename
    </button>
    <button type="button" class="btn btn-default" id="rename-file"
        {{action 'showModal' 'change_attr_modal' controller model}}
        {{bind-attr disabled="isNoneSelected"}}>
        Change attribute
    </button>
    <button type="button" class="btn btn-default" id="remove"
        {{action 'remove'}} {{bind-attr disabled='inNoneSelected'}}>
        Remove
    </button>
</div>
{{outlet 'modal'}}


<table class="table table-hover">
    <thead>
    <tr>
        <td>
            {{input type='checkbox' id='toggle-all' checked=areAllSelected}}
        </td>
        <td>
            <b>File name</b>
        </td>
        <td>
            <b>Attribute</b>
        </td>
    </tr>
    </thead>
    <tbody>
    {{#each f in model}}
        <tr>
            <td>
                {{input type='checkbox' checked=f.selected class='toggle' bubbles=false}}
            </td>
            <td  {{action 'selectRow' f}}>
                {{f.name}}
            </td>
            <td  {{action 'selectRow' f}}>
                {{f.attribute}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>